<nav><a href="/"><h2>NutritionHack</h2></a></nav>
<div id="container">
<h3>Log in</h3>

<form action="/login" method="POST" class="center-column">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password">
  </div>
  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <p>
    <button class="small-button">Submit</button>
  </p>
</form>

</div>
