<nav><h2>NutritionHack</h2></nav>
<div id="container">
<h3>Sign up</h3>

<form action="/signup" method="POST" class="form-container">
<div class="form-group">
  <label for="firstname">First name:</label>
  <input id="firstname" class="form-control" type="text" name="firstname">
  </div>
  <div class="form-group">
  <label for="lastname">Last name:</label>
  <input id="lastname" class="form-control" type="text" name="lastname">
  </div>
    <div class="form-group">
  <label for="username">Username:</label>
  <input id="username" class="form-control" type="text" name="username">
  </div>
    <div class="form-group">
  <label for="email">Email:</label>
  <input id="email" class="form-control" type="email" name="email">
  </div>
    <p>Gender:</p>
    
    <div class="form-check">
<input type="radio" name="gender" class="form-check-input" id="female" value="female" checked>
<label class="form-check-label" for="female">Female</label>
</div>
<div class="form-check">
<input type="radio" name="gender" class="form-check-input" id="male" value="male">
<label class="form-check-label" for="male">Male</label>
  </div>
  <div class="form-check">
<input type="radio" name="gender" class="form-check-input" id="other" value="other" checked>
<label class="form-check-label" for="other">Other</label>
    </div>

      <p>Role:</p>

    <div class="form-check">
  <input type="radio" name="role" class="form-check-input" value="PATIENT" id="patient" checked>
<label class="form-check-label" for="patient">Patient</label>
</div>
    <div class="form-check">
  <input type="radio" name="role" class="form-check-input" value="DIETITIAN" id="dietitian"> <label class="form-check-label" for="dietitian">Dietitian</label>
</div>
<br><br>
    <div class="form-group">
  <label for="password">Password:</label>
  <input id="password" class="form-control" type="password" name="password">
  </div>
    <div class="form-group">
  <label for="password2">Password:</label>
  <input id="password2" class="form-control" type="password" name="password2">
  </div>

  {{#if message}}
<div class="alert alert-danger" role="alert">
    <div class="error-message">{{ message }}</div>
    </div>
  {{/if}}
  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/login">Log in.</a>
  </p>
</form>

</div>
<footer></footer>
