<nav><a href="/"><h2>NutritionHack</h2></a></nav>
<div id="container">
    <section class="center">
<h4>Dietitians</h4>

<div id="dietitians">
   {{#each this}}
   <p><a href="">{{firstname}} {{lastname}}</a> — specializes in: {{specialty}}</p>
   {{/each}}
</div>


<p><a href="private"><button>Dashboard</button></a></p>

</section>
</div>