<h2>search for a food:</h2>

<input type="text" name="query" id="search">
<button id="button">search</button>
<div id="results">

</div>

{{!-- <h3 style="margin-top:50px;">a list of foods...</h3>

{{#each hints}}

<p>{{food.label}} ({{food.brand}})</p>

{{/each}} --}}




<script>

//food search
const input = document.getElementById('search');
const searchResults = document.getElementById('results');
const button = document.getElementById('button');

button.addEventListener('click', () =>{
    fetch(`https://api.edamam.com/api/food-database/parser?ingr=${input.value}&app_id=ac3de265&app_key=60cd20dfc55a216360c3f54521f9bef4`)
.then(result => result.json())
.then(foods => {
    searchResults.innerHTML = '';
    var ul = document.createElement('ul');
    searchResults.appendChild(ul);
    //if (movie.status_code === 34) return searchRes.innerHTML =('');
    var hints = foods.hints;
    hints.forEach(function(foodObj){
        var li = document.createElement('li');
        var text = document.createTextNode(foodObj.food.label.toLowerCase() + ' - ');
        var text2 = document.createTextNode(foodObj.food.brand);
        li.appendChild(text);
        li.appendChild(text2);
        ul.appendChild(li);  
    })
})
})
</script>