<h1>Beth & Beto's Nutrition App</h1>
<p>This will be the home page with sign-in and log-on options.</p>
<p><a href="signup">Sign up</a></p>
<p><a href="login">Log in</a></p>
<p><a href="foods">Foods</a></p>
