<nav><a href="/"><h2>NutritionHack</h2></a></nav>
<div id="container">
    <div class="center">
        <h1>NutritionHack</h1>
<h5>An easier way to seek diet advice</h5>
<img src="images/taco-lg.png" width="175" alt="taco icon">
        <div id="buttons">
            <p><a href="login"><button>Log in</button></a></a>
            <p><a href="signup"><button>Sign up</button></a></p>
            <p><a href="facebook"><button class="teal">Sign in with Facebook</button></a></p>
        </div>
</div>
</div>
</div>
