<nav><a href="/"><h2>NutritionHack</h2></a></nav>
<div id="container">
    <div class="center">
<h3>An easier way to seek diet advice</h3>
        <div id="buttons">
            <p><a href="login"><button>Log in</button></a></p>
            <p><a href="signup"><button>Sign up</button></a></p>
            <p><a href="facebook"><button class="yellow">Sign in with Facebook</button></a></p>
        </div>
</div>
</div>
</div>
