<nav><a href="/"><h2>NutritionHack</h2></a></nav>
<div id="container">
    <section id="food-search">
        <h3>My Lunch</h3>
        <div id="mymeal"></div>
<p>Search for a food item to add to your meal:</p>

<input type="text" class="form-control" name="query" id="search">
<div id="buttons">
<button id="button">Search</button>
</div>

<div id="results">

</div>

<div id="buttons">
<a href="private"><button>Dashboard</button></a>
</div>

</section>
</div>

<script>

//food search
const input = document.getElementById('search');
const searchResults = document.getElementById('results');
const button = document.getElementById('button');
const myMeal = document.getElementById('mymeal');

button.addEventListener('click', () =>{
    fetch(`https://api.nal.usda.gov/ndb/search/?format=json&q=${input.value}&sort=r&max=500&offset=0&api_key=OTwkyRvnOJpgdJE1q0DDJbJmkb3CouAZAH8ev4yp`)
.then(result => result.json())
.then(foods => {
    searchResults.innerHTML = '';
    var ul = document.createElement('ul');
    searchResults.appendChild(ul);
    var foodArray = foods.list.item;
    foodArray.forEach(function(food){
        if ((food.group !== "Fast Foods") && (food.group !== "Branded Food Products Database")) {
            var id = food.ndbno;
            var li = document.createElement('li');
            var a = document.createElement('a');
            var add = document.createTextNode('add');
            var text = document.createTextNode(food.name.toLowerCase() + ' - ');
            //var text2 = document.createTextNode(foodObj.food.brand + ' ');
            a.appendChild(add);
            a.setAttribute('href', 'lunch/' + id)
            li.appendChild(text);
            //li.appendChild(text2);
            li.appendChild(a);
            ul.appendChild(li);
        }
        
    })
})
})
</script>