<nav><h2>NutritionHack</h2></nav>
<div id="container">
    <section class="center">
<h3>What meal would you like to add?</h3>

<div id="meals">
    <a href="breakfast"><div><img src="images/breakfast2.png"><p>Breakfast</p></div></a>
    <a href="lunch"><div><img src="images/lunch3.png"><p>Lunch</p></div></a>
    <a href="dinner"><div><img src="images/dinner.png"><p>Dinner</p></div></a>
    <a href="snack"><div><img src="images/snack.png"><p>Snack</p></div></a>
</div>

<div id="buttons">
<p><a href="private"><button>Dashboard</button></a></p>
</div>

</section>
</div>