<nav><a href="/"><h2>NutritionHack</h2></a></nav>
<div id="container">

<h3>My Meal History</h3>


   {{#each this}}

   <h5>{{name}}</h5>
   <p>Calories: {{calories}}</p>
   <p>Sugars: {{sugars}} grams</p>

{{/each}}


<div id="buttons">
<p><a href="private"><button>Dashboard</button></a></p>
</div>

</div>