<nav><a href="/"><h2>NutritionHack</h2></a></nav>
<div id="container">
    <section class="center">
<h4>My Meal History</h4>

<div id="meals">
   {{#each foods}}
   <p>{{this.name}}</p>
   {{/each}}
</div>


<p><a href="private"><button>Dashboard</button></a></p>

</section>
</div>