<nav><h2>NutritionHack</h2></nav>
<div id="container">
    <section class="card-container">
<h3 class="no-margin">What meal would you like to add?</h3>

<div id="meals">
    <a href="breakfast"><div><img src="images/breakfast2.png"><p class="center">Breakfast</p></div></a>
    <a href="lunch"><div><img src="images/lunch3.png"><p class="center">Lunch</p></div></a>
    <a href="dinner"><div><img src="images/dinner.png"><p class="center">Dinner</p></div></a>
    <a href="snack"><div><img src="images/snack.png"><p class="center">Snack</p></div></a>
</div>



</section>
<div id="buttons">
<p><a href="private"><button>Dashboard</button></a></p>
</div>
</div>